@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    align-items:center;
}

ul li a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background-color: #4f5fac;
    transition:all .5s;
}

li a:hover::after{
    width: 100%;
}

main{
    display: flex;
 border-top:1px solid red;
 height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
}
.img{
    max-width: 670px;
}

.content-izquierda{
    width: 30%;
}

main h1{
    font-size: 54px;
    color: #4f5fac;
    text-transform: uppercase;
}

main h2 {
    font-size: 25px;
    color: #f27190;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;

}

main p{
    font-size: 14px;
    font-weight:400 ;
    color: #333;
    line-height: 31.5px;
    margin:3px 0 ;
}

.cta {
    padding: 15px 30px;
    background-color: #5262ad;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px ;
}

footer{
    background: rgb(240, 240, 240);
    width: 100vw;
    padding: 20px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

footer span{
    text-transform: uppercase;
    color: #4f5fac;
    font-weight: 200;
}

